$heading-color: #333333;
$text-color: #000000;
$text-inactive-color: #CBCBCB;
$button-color: #C69F51;
$button-inactive-color: #D8D8D8;
$button-green: #005030;
$bg-color: #F4F5F5;

@font-face {
	font-family: 'DINCondensed';
	src: url('../assets/DINCondensedWeb.ttf');
}
@font-face {
	font-family: 'AdobeItalic';
	src: url('../assets/Adobe-Garamond-Pro-Italic.ttf');
}

#BuildASet {
	h1,h3 {
		font-family: 'DINCondensed';
		font-size: 36px;
		font-weight: normal;
		text-transform: uppercase;
		color: $heading-color;
		margin: 0;
	}
	h4 { font-weight: normal; }
	p,span {
		font-family: 'AdobeItalic';
		font-size: 18px;
		font-weight: normal;
		color: $text-color;
		margin: 0;
	}
	.componentContainer {
		h1, .headerText { text-align: center; }
		.headerText {
			width: 100%;
			max-width: 814px;
			margin: 20px auto 30px;
			color: $heading-color;
		}
	}
	.componentInnerContainer {
		width: 100%;
		max-width: 1020px;
		margin: 0 auto;
	}
	.navigationButtons {
		width: 100%;
		max-width: 1060px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.buildBtn {
		display: block;
		height: 50px;
		width: 166px;
		position: relative;
		cursor: pointer;
		font-family: 'DINCondensed';
		font-size: 24px;
		text-transform: uppercase;
		padding: 0;
		margin: 0;
		transition: all 0.3s;
		box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
		svg {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.buttonPrev {
		color: $heading-color;
		border: 2px solid $heading-color;
		background-color: #ffffff; 
		svg { left: 20px; }
	}
	.buttonPrevDisabled {
		opacity: 0.5;
	}
	.buttonNext {
		color: #ffffff;
		border: 2px solid $button-inactive-color;
		background-color: $button-color;
		svg { right: 20px; }
	}
	.buttonNext[disabled] {
		background-color: $button-inactive-color;
	}
	.Scents {
		display: flex;
		flex-flow: row wrap;
		margin-bottom: 90px;
		&__scent {
			display: flex;
			align-items: center;
			width: 50%;
			cursor: pointer;
			transition: all 0.3s;
			.addRemoveIcons {
				padding: 0 20px 0 32px;
			}
			.iconWrap {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 30px;
				width: 30px;
			}
			.removeIcon { display: none; }
			.imgIcon { 
				display: inline-flex; 
				border: 4px solid transparent;
				border-radius: 50%;
				transition: border-color 0.3s;
			}
			.scentInfo {
				padding: 30px 0 47px 25px;
				h3 { margin-bottom: 12px; }
				p { width: 84%; }
			}
		}
		&__scent.selected {
			background-color: $bg-color;
			.removeIcon { display: block; }
			.addIcon { display: none; }
		}
		&__scent.selected-refreshing .imgIcon {
			border-color: #42A980;
		}
		&__scent.selected-sensitive .imgIcon {
			border-color: #CFCFCF;
		}
		&__scent.selected-nourishing .imgIcon {
			border-color: #B27279;
		}
		&__scent.selected-protective .imgIcon {
			border-color: #6385A6;
		}
		&__scent.inactive {
			opacity: 0.5;
			.addRemoveIcons { visibility: hidden; }
			img { filter: grayscale(100%); }
		}
	}
	.PageBar {
		width: 100%;
		max-width: 601px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__step {
			width: 94px;
			display: flex;
			flex-direction: column;
			align-items: center;
			cursor: pointer;
			background-color: #ffffff;
			border: none;
			padding: 0;
			margin: 0;
			.circle {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 42px;
				width: 42px;
				border-radius: 50%;
				border: 3px solid #BABABA;
				margin-bottom: 14.43px;
				position: relative;
				transition: all 0.3s;
				&:before {
					content: "";
					position: absolute;
					height: 3.08px;
					width: 45.55px;
					background-color: #BFC6C8;
					left: -87px;
					transition: background-color 0.3s;
				}
			}
			&:first-child .circle:before { display: none; }
			span {
				display: block;
				color: $text-inactive-color;
				font-size: 24.64px;
				transition: color 0.3s;
			}
		}
		&__step.activeStep {
			.circle {
				border-color: $button-green;
				&:before {
					background-color: $button-green;
				}
			}
			span {
				color: $text-color;
			}
		}
		&__step.completeStep {
			.circle {
				background-color: $button-green;
				border-color: $button-green;
				&:before {
					background-color: $button-green;
				}
			}
			span {
				color: $text-color;
			}
		}
	}
	.Products {
		margin-bottom: 90px;
		padding-top: 20px;
		&__product {
			width: 222px;
			img {
				width: 100%;
				background-color: $bg-color;
			}
			h4 {
				font-family: 'DINCondensed';
				font-size: 24px;
				text-align: center;
				text-transform: uppercase;
				margin: 30px 0 12px;
				color: $heading-color;
			}
			span {
				display: block;
				margin-bottom: 21px;
				color: $text-color;
				text-align: center;
			}
			button {
				display: block;
				height: 41px;
				width: 158px;
				background-color: #ffffff;
				border: 2px solid $heading-color;
				margin: 0 auto;
				padding: 0;
				position: relative;
				transition: all 0.3s;
				cursor: pointer;
				span {
					font-family: 'DINCondensed';
					font-size: 24px;
					color: $heading-color;
					text-transform: uppercase;
					margin: 0;
					transition: color 0.3s;
				}
				.addedBtn {
					display: none;
				}
				svg {
					position: absolute;
					right: 24px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			button.addedProd {
				border-color: $button-green;
				background-color: $button-green;
				span {
					color: #ffffff;
				}
				.addBtn { display: none; }
				.addedBtn { display: block; }
			}
		}
	}
	.Products.noSlider {
		display: flex;
		justify-content: center;
		align-items: center;
		.Products__product { 
			margin: 0 22px; 
			&:first-child { margin-left: 0; }
			&:last-child { margin-right: 0; }
		}
	}
	.swiper-container {
		padding: 0 55px;
	}
	.swiper-button-next, .swiper-button-prev {
		height: 100%;
		top: 0;
		background-color: #ffffff;
		background-image: none;
		display: flex;
		align-items: center;
		svg {
			height: 268px;
			position: absolute;
			top: 40px;
			transition: opacity 0.3s;
		}
		&:focus {
			outline: none;
		}
	}
	.swiper-button-prev { 
		left: 0; 
		justify-content: flex-start;
	}
	.swiper-button-next { 
		right: 0; 
		justify-content: flex-end;
	}
	.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
		opacity: 1;
		svg { opacity: 0; }
	}
	.summaryContainer {
		h1 { margin-bottom: 50px; }
	}
	.giftQuestion {
		text-align: center;
		margin-bottom: 45px;
		p {
			font-family: 'DINCondensed';
			font-size: 24px;
			text-transform: uppercase;
			margin-bottom: 24px;
			color: $heading-color;
		}
		button {
			display: inline-block;
			height: 50px;
			width: 225px;
			color: #ffffff;
			background-color: $button-color;
			border: none;
			font-family: 'DINCondensed';
			font-size: 24px;
			box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
			text-transform: uppercase;
			margin: 0 10px;
			cursor: pointer;
		}
	}
	.giftMessage {
		display: flex;
		margin-bottom: 69px;
		&__img {
			height: 240px;
			width: 247px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $bg-color;
		}
		&__text {
			flex: 1;
			padding-left: 29px;
			label {
				font-family: 'AdobeItalic';
				font-size: 18px;
				display: block;
				margin-left: 10px;
				margin-bottom: 5px;
				color: $heading-color;
			}
			input, textarea {
				width: 100%;
				border: 1px solid #E3E3E3;
				padding: 0 10px;
				box-sizing: border-box;
			}
			input {
				height: 41px;
				margin-bottom: 20px;
			}
			textarea {
				height: 123px;
				resize: none;
			}
		}
	}
	.Summary {
		background-color: $bg-color;
		display: flex;
		padding: 39px 0;
		margin-bottom: 69px;
		&__products {
			display: flex;
			padding: 0 45px;
			position: relative;
			&:after {
				content: "";
				position: absolute;
				height: 105px;
				width:  1px;
				background-color: #DBDBDB;
				right: 0;
				top: 50%;
				transform:  translateY(-50%);
			}
		}
		.summaryProd {
			width: 175.71px;
			margin: 0 19.65px;
			text-align: center;
			&:first-child { margin-left: 0; }
			&:last-child { margin-right: 0; }
			img {
				width: 100%;
				background-color: #FAFAFA;
				box-shadow: 2px 2px 12px rgba(0,0,0,0.07);
			}
			h4 {
				font-family: 'DINCondensed';
				font-size: 24px;
				color: $heading-color;
				text-transform: uppercase;
				margin: 20px 0 12px;
			}
			span {
				color: $heading-color;
			}
		}
		&__total {
			width: 100%;
			padding: 0 45px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			h5 {
				display: inline-block;
				font-family: 'DINCondensed';
				font-size: 28px;
				font-weight: normal;
				text-transform: uppercase;
				margin: 0 0 22px;
			}
			.totalText {
				display: flex;
				justify-content: space-between;
			}
			button {
				font-family: 'DINCondensed';
				color: #fff;
				font-size: 24px;
				background-color: $button-color;
				border: none;
				text-transform: uppercase;
				height: 50px;
				width: 100%;
				box-shadow: 2px 2px 8px rgba(0,0,0,0.1); 
			}
		}
	}
}
